<%- include('partials/header',{isAuthenticated:isAuthenticated}) %>



    <main id="main">

        <!--  slider Section  -->
        <section id="slider" class="" style="margin-top:200px;">
            <div class="container">

                <div class="row">
                    <div class="banner-container">
                        <div id="carouselExampleIndicators" class="carousel slide  carousel-fade"
                            data-bs-ride="carousel " data-interval="5000">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner ">
                                <div class="carousel-item active" data-interval="2000">
                                    <img src="Images/1.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item" data-interval="2000">
                                    <img src="Images/2.jpg" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item" data-interval="2000">
                                    <img src="Images/3.jpg" class="d-block w-100" alt="...">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>

                </div>
        </section><!-- End  Section -->

        <!--  Services Section  -->
        <section id="about" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Why HomeoKart?</h2>
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit
                        sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias
                        ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <img src="Images/6.jpeg">
                            <p> Get consultation being at your comfortable space.
                                Get Homeopatheic medicines home delivered.
                                Easy navigating medicines from the mentioned categories.
                                We believe in "Heal with Homeopathy"</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <img src="Images/6.jpeg">
                            <p> Get consultation being at your comfortable space.
                                Get Homeopatheic medicines home delivered.
                                Easy navigating medicines from the mentioned categories.
                                We believe in "Heal with Homeopathy"</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <img src="Images/6.jpeg">
                            <p> Get consultation being at your comfortable space.
                                Get Homeopatheic medicines home delivered.
                                Easy navigating medicines from the mentioned categories.
                                We believe in "Heal with Homeopathy"</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <img src="Images/6.jpeg">
                            <p> Get consultation being at your comfortable space.
                                Get Homeopatheic medicines home delivered.
                                Easy navigating medicines from the mentioned categories.
                                We believe in "Heal with Homeopathy"</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <img src="Images/6.jpeg">
                            <p> Get consultation being at your comfortable space.
                                Get Homeopatheic medicines home delivered.
                                Easy navigating medicines from the mentioned categories.
                                We believe in "Heal with Homeopathy"</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <img src="Images/6.jpeg">
                            <p> Get consultation being at your comfortable space.
                                Get Homeopatheic medicines home delivered.
                                Easy navigating medicines from the mentioned categories.
                                We believe in "Heal with Homeopathy"</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End about Section -->

        <!-- cards-1 section -->
        <section>
            <div class="section-title">
                <h2>Categories</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
            <div class="container-fluid  card-sec-1">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="inam" class="carousel slide " data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active data">
                                    <div class="container">
                                        <div class="row">

                                            <% for(var i=0; i<3;i++) { %>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card" style="width: 300px;margin: auto;">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><%=category[i].name%></h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">SEARCH</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>

                                        </div>

                                    </div>


                                </div>
                                <div class="carousel-item">
                                    <div class="container">
                                        <div class="row">

                                            <% for(var i=3; i<category.length;i++) { %>
                                            <div class="col-sm-12 col-lg-3">
                                                <div class="card" style="width: 300px;margin: auto;">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title"><%=category[i].name%></h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">SEARCH</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#inam" class="carousel-control-prev" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a href="#inam" class="carousel-control-next" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cards-1 section end -->

        <!-- cards-2 section -->
        <section>
            <div class="section-title">
                <h2>Medicines</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
            <div class="container-fluid  card-sec-2">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="inam3" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card" style="width: 300px;margin: auto;">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>


                                </div>
                                <div class="carousel-item" id="nam4">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#inam3" class="carousel-control-prev" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a href="#inam3" class="carousel-control-next" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cards-2 section end -->

        <!-- cards-3 section -->
        <section>
            <div class="section-title">
                <h2>Other Products</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit in iste officiis commodi quidem hic quas.</p>
            </div>
            <div class="container-fluid  card-sec-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="inam5" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card" style="width: 300px;margin: auto;">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>

                                    </div>


                                </div>
                                <div class="carousel-item" id="inam6">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-lg-4">
                                                <div class="card">
                                                    <img src="Images/9.jpg" class="card-img-top">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Why you should use skin masks ?</h4>
                                                        <p class="card-text">Skin masks help us to make are skin fresh
                                                            and
                                                            also they protect our skin from the harm rays of sun</p>
                                                        <button type="button" class="btn btn-warning">Read More</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#inam5" class="carousel-control-prev" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a href="#inam5" class="carousel-control-next" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cards-3 section end -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <%- include('partials/footer') %>