<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Wellcome to HomeoKart</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/CSS/my-login.css" />
  <script src="https://kit.fontawesome.com/5b2ed83021.js" crossorigin="anonymous"></script>
</head>

<body>
  <main class="my-login-page">
    <section class="h-100">
      <div class="container h-100">
        <div class="row justify-content-md-center h-100">
          <div class="card-wrapper">
            <div class="card fat">
              <div class="card-body">
                <h4 class="card-title">Login</h4>
                <!-- class="my-login-validation" -->
                <!-- <form action="/login" method="POST">
                  <div class="form-group">
                    <label for="email">E-Mail Address</label>
                    <input
                      id="email"
                      type="email"
                      class="form-control"
                      name="email"
                      required
                      autofocus
                    />
                    <div class="invalid-feedback">Email is invalid</div>
                  </div>

                  <div class="form-group">
                    <label for="password"
                      >Password
                      <a href="" class="float-right"> Forgot Password? </a>
                    </label>
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      name="password"
                      required
                      < 
                      data-eye
                      --
                    />
                    />
                    <div class="invalid-feedback">Password is required</div>
                  </div>

                  <div class="form-group">
                    <div class="custom-checkbox custom-control">
                      <input
                        type="checkbox"
                        name="remember"
                        id="remember"
                        class="custom-control-input"
                      />
                      <label for="remember" class="custom-control-label"
                        >Remember Me</label
                      >
                    </div>
                  </div>

                  <div class="form-group m-0">
                    <button type="submit" class="btn btn-primary btn-block">
                      Login
                    </button>
                  </div>
                  <div class="mt-4 text-center">
                    Don't have an account?
                    <a href="/register">Create Account</a>
                  </div>

                  <div class="form-group">
                    <div class="card social-block">
                      <div class="card-body">
                        <a
                          class="btn btn-block btn-social btn-google"
                          href="/auth/google"
                          role="button"
                        >
                          <i class="fa-brands fa-google"></i>
                          Login with Google
                        </a>
                      </div>
                    </div>
                  </div>
                </form> -->
                <form action="/login" method="POST">
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" />
                  </div>
                  <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" />
                  </div>
                  <button type="submit" class="btn btn-dark">
                    Login
                  </button>
                  <div class="mt-4 text-center">
                    Don't have an account?
                    <a href="/register">Create Account</a>
                  </div>
                  <div class="form-group">
                    <div class="card">
                      <div class="card-body">
                        <a class="btn btn-block btn-primary btn-google" href="/auth/google" role="button">
                          <i class="fa fa-brands fa-google"></i>
                          Login with Google
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="footer">Copyright &copy; 2022 &mdash; HomeoKart</div>
          </div>
        </div>
      </div>
      
    </section>
  </main>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="js/my-login.js"></script>
</body>

</html>