<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <script src="https://kit.fontawesome.com/5b2ed83021.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/paymentSuccessfull.css">
    <title>Payment Successfull</title>
</head>

<body>
    <div class="payment-successful-container">
        <div class="check-image-div">
            <img src="\images\verified (1).png" loading="lazy" />
        </div>
        <h1>PAYMENT SUCCESSFULL</h1>
    </div>
</body>

</html>